<a href="https://colab.research.google.com/github/Suyashh-hub/Python-assignments/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#one dimentional array
import numpy as np
list1=[11,22,33,44,55,66]
array1=np.array(list1)
print(list1)
print(array1)

[11, 22, 33, 44, 55, 66]
[11 22 33 44 55 66]

In [ ]:
#two dimentional array
import numpy as np
list1=[[11,22,33],[44,55,66]]
array1=np.array(list1)
print(array1)

[[11 22 33]
 [44 55 66]]

In [ ]:
#three dimentional array
import numpy as np
list1=[[11,22,33],[44,55,66],[77,88,99]]
array1=np.array(list1)
print(array1.shape)
print(array1.ndim)
print(array1.size)
print(array1.dtype)
print(array1.itemsize )

(3, 3)
2
9
int64
8

In [ ]:
#use of range
import numpy as np
array1=np.arange(1,8)
print(array1)

[1 2 3 4 5 6 7]

In [ ]:
#reshape use
import numpy as np
array1=np.arange(11,17).reshape(3,2)
print(array1)

[[11 12]
 [13 14]
 [15 16]]

In [ ]:
#zeroes create matrix
import numpy as np
array1=np.zeros(4)
print(array1)

[0. 0. 0. 0.]

In [ ]:
import numpy as np
array1 =np.array([10,20,30,40,50,60,70])
print(array1[1:3])
print(array1[1:6:2])
print(array1[-1:-3:-1])
print(array1[::2])

[20 30]
[20 40 60]
[70 60]
[10 30 50 70]

In [ ]:
import numpy as np
array1 =np.array([[15,16,17],[25,26,27],[35,36,37],[45,46,47]])
print(array1[1,])
print(array1[:,1])
print(array1[1:3,1:3])
print(array1[1:3,])
print(array1[:,1:3])
print(array1[1:3,1])
print(array1[1:3,:1])
print(array1[2:, 1])
print(array1[0, 1:3])

[25 26 27]
[16 26 36 46]
[[26 27]
 [36 37]]
[[25 26 27]
 [35 36 37]]
[[16 17]
 [26 27]
 [36 37]
 [46 47]]
[26 36]
[[25]
 [35]]
[36 46]
[16 17]

In [ ]:
#Matrix multipliocstion
import numpy as np
x=np.array([[1,2],[3,4]])
y=np.array([[11,12],[13,14]])
z=x@y
print(z)

[[37 40]
 [85 92]]

In [ ]:
#Matrix multipliocstion
import numpy as np
x=np.array([[1,2],[3,4]])
y=np.array([[11,12],[13,14]])
z=x/y
print(z)

[[0.09090909 0.16666667]
 [0.23076923 0.28571429]]

In [ ]:
#Matrix multipliocstion
import numpy as np
x=np.array([[1,2],[3,4]])
y=np.array([[11,12],[13,14]])
z=x+y
print(z)

In [ ]:
#Matrix multipliocstion
import numpy as np
x=np.array([[1,2],[3,4]])
y=np.array([[11,12],[13,14]])
z=x-y
print(z)

In [ ]:
import numpy as np
lst=[]
n=int(input("Enter number of elements: "))
for i in range(n):
  element=int(input(f"Enter element {i+1}: "))
  lst.append(element)
print("List: ",lst)

In [ ]:
s1="SBJAIN college 54678"

count=0
count1=0
count2=0
for i in s1:
  if i.isspace():
    count+=1
  if i.isdigit():
    count1+=1
  if i.isalpha():
    count2+=1
print(count)
print(count1)
print(count2)

2
5
13

In [ ]:
#index and find
s="welcome to python programming"
print(s.find("p"))#find first index  position of p ie: 11
print(s.index("p"))#also same
print(s.find("p",12))#find p from 12 index to end
print(s.index("p",12))#same like find
print(s.find("p",1,13))#find p from 1 to 12 index
print(s.index("p",1,13))#same like find
#difference in both
print(s.find("k"))  #give -1
#print(s.index("k")) #give error value error
#note find function only available with string
# not available in tupple,list,set but index function available

11
11
18
18
11
11
-1

In [ ]:
s="welcome to all python programming "
print(s.split()) #by default split from space and return answer in list
print(s.split("p"))#jaha jaha p waha , ayega
#partition
#print(s.partition())#here must give value for partion nahi tao error
print(s.partition("p"))
#p ke pahele ek part,then  p,then baki part give answer in tupple
#output=>('welcome to all ', 'p', 'ython programming ')
#jony jony wal aexample

['welcome', 'to', 'all', 'python', 'programming']
['welcome to all ', 'ython ', 'rogramming ']
('welcome to all ', 'p', 'ython programming ')

In [ ]:
#strip,rstrip,ltsrip
s=" sbjain"
print(s)# its print as it is
print(s.lstrip())#remove left space
#rstrip
s="sbjain     "
print(s)
print(s.rstrip())#its remove but nor see
#to see rstrip
s="sbjain     "
print(len(s))#its count all
print(len(s.rstrip()))#after remove ight space
#strip remove both side space

 sbjain
sbjain
sbjain
sbjain
11
6

In [ ]:
#list demo empty list print
my_list1 = [11,22,33]
print(my_list1)
my_list2=list([])
print(my_list2)

[11, 22, 33]
[]

In [ ]:
#list to print
my_list1=[1,"hindi",33,44,"edurekha"]
my_list2=list([454,"yogesh","sanjay",55,66,77])
print(my_list1)
print(my_list2)

[1, 'hindi', 33, 44, 'edurekha']
[454, 'yogesh', 'sanjay', 55, 66, 77]

In [ ]:
#print list using slice
my_list1=[1,"hindi",33,44,"edurekha"]
print(my_list1[:])
print(my_list1[0:3])
print(my_list1[::-1])
print(my_list1[0:5:2])
print(my_list1[1][2])
print(my_list1[-1][1])

[1, 'hindi', 33, 44, 'edurekha']
[1, 'hindi', 33]
['edurekha', 44, 33, 'hindi', 1]
[1, 33, 'edurekha']
n
d

In [ ]:
my_list1=[1,"hindi",33,44,"edurekha"]
my_list2=[11,22,33]
my_list1.append([555,22] )    #USE OF APPEND FUNCTION
print(my_list1)
print(len(my_list1))
my_list1.extend([444,666])    #USE OF EXTEND FUN
print(my_list1)
print(len(my_list1))
my_list1.insert(1,"sanjay")    #USE OF INSERT FUNCTION
print(my_list1)
print(len(my_list1))
my_list2.insert(1,99)
print(my_list2)
print(my_list1 + [ "katre"])   #add content to given list but original list not effect
print(my_list1)
print(my_list1 *2)   #list is multiply by 2 shows list 2 times
print(my_list1)

[1, 'hindi', 33, 44, 'edurekha', [555, 22]]
6
[1, 'hindi', 33, 44, 'edurekha', [555, 22], 444, 666]
8
[1, 'sanjay', 'hindi', 33, 44, 'edurekha', [555, 22], 444, 666]
9
[11, 99, 22, 33]
[1, 'sanjay', 'hindi', 33, 44, 'edurekha', [555, 22], 444, 666, 'katre']
[1, 'sanjay', 'hindi', 33, 44, 'edurekha', [555, 22], 444, 666]
[1, 'sanjay', 'hindi', 33, 44, 'edurekha', [555, 22], 444, 666, 1, 'sanjay', 'hindi', 33, 44, 'edurekha', [555, 22], 444, 666]
[1, 'sanjay', 'hindi', 33, 44, 'edurekha', [555, 22], 444, 666]

In [ ]:
# index ,count in list
my_list1=[1, 'sanjay', 'hindi', 33, 44, 'edurekha']
print(my_list1.index("edurekha"))  #find index no. of element
print(my_list1.count("edurekha"))   #find how many times particular element in a given list
new = [11, 45, 22, 1, 3]
print(sorted(new))  # sorted new list element and print but original not change
print(new)             # ORIGINAL PRINT AS IT Is
new.sort(reverse=True)  #short original list in decending order if rev=true else accending order
print(new)
new.reverse()
print(new)

5
1
[1, 3, 11, 22, 45]
[11, 45, 22, 1, 3]
[45, 22, 11, 3, 1]
[1, 3, 11, 22, 45]

In [ ]:
t=tuple("Hello")
print(t)

('H', 'e', 'l', 'l', 'o')

In [ ]:
l=['a','e','i','o','u']
t=tuple(l)
print(t)

('a', 'e', 'i', 'o', 'u')

In [ ]:
t=tuple(input("Enter elements: "))
print(t)

Enter elements: aaaa
('a', 'a', 'a', 'a')

In [ ]:
#create empty tupple
t=()
print(t)
t=tuple()
print(t)

()
()

In [ ]:
#create
t=(1)
print(type(t))
t=(1,)
print(type(t))

<class 'int'>
<class 'tuple'>

In [ ]:
#create different tuple
t=(1,2,3,4)
print(t)
t=(1.2,1.2,1.4,"a")
print(t)

(1, 2, 3, 4)
(1.2, 1.2, 1.4, 'a')

In [ ]:
#take input from user
t1=tuple(input("Enter Element:"))
print(t1)

In [ ]:
#crete tuple using tuple function
t=tuple("HELLO")
print(t)
l=[1,2,3,4,5]
t=tuple(l)
print(t)

In [ ]:
#nested tuple
t=(1,2,3,(44,55))
print("NESTED TUPPLE=>",t)

In [ ]:
#crete tuple using tuple function
t=tuple("HELLO")
print(t)
l=[1,2,3,4,5]
t=tuple(l)
print(t)

In [ ]:

#class tuple when , insert
s="PYTHON"
print(type(s))
s=("PYTHON",)
print(type(s))

In [ ]:
#convert into tupple
l=[1,2,3]
print(tuple(l))
s="python"
print(tuple(s))
#conver dic to tuple
d={1:"a",2:"b",3:"c"}
print(tuple(d))  #by default key
print(tuple(d.values())) #here value take not keys

In [ ]:
#packed and unpacked
t=1,2   #packed
print(t)
x,y=(1,2)  #unpacked
print(x,y)

In [ ]:
#traversal
#user input and for loop tuple creation
t=tuple()
totalvalue=int(input("How many element u enter in tupple:"))
for i in range(totalvalue):
    val=int(input("Enter element:"))
    t=t+(val,)
print(t)

In [ ]:
#traversing tuple using for loop
t=(11,22,33,44,55,66)
for i in t:
    print(i,end=" ")

In [ ]:
t=(11,22,33,44,55,66)
for i in range(len(t)):
    print(t[i],end=" ")

In [ ]:
#we can change index value
t=(11,22,33,44,55,66,77)
print(t[0])  #11
print(t[-1])  #77
print(t[-4])   #44
#not change in tuple
t[0]=0    #give error
print(t)

In [ ]:
#slicing
t=(99,88,77,66,55,44,33,22)
print(t[0:5])  #0 to 3
print(t[::-1])  #reverse
print(t[-1:-5:-1])  #22,33,44,55  start :end-1:step

In [ ]:
#concatenete,replicate,membership
t=(11,22,33)
print(t)
print(id(t))
t=t*3
print(t)
print(id(t))

In [ ]:
#2. Concatenate the tuples (1, 2, 3) and (4, 5, 6) and store the result in a new tuple.
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

In [ ]:
t=(10,12,14,20,22,24,30,32,34)
seq=t[3:-3]
print(seq)
seq1=t[2:-2]
print(seq1)

(20, 22, 24)
(14, 20, 22, 24, 30)

In [ ]:
my_tuple = (10, "hello", 3.14)

# You can print the tuple to see its contents:
# print(my_tuple)
# (10, 'hello', 3.14)

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

In [ ]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

In [ ]:
# Define the tuple
my_tuple = (1, 2, 3)

# Unpack the tuple
v1, v2, v3 = my_tuple

# Print the values
print(v1) # Output: 1
print(v2) # Output: 2
print(v3) # Output: 3

In [ ]:
#create dictionary
dic={ }  #empty dictionary
print(dic)
print(type(dic))
d=dict()
print(d)
print(type(d))
d={1:"x",2:"y",3:"z"}
print(d)
print(d.keys())
print(d.values())
print(d.items())

{}
<class 'dict'>
{}
<class 'dict'>
{1: 'x', 2: 'y', 3: 'z'}
dict_keys([1, 2, 3])
dict_values(['x', 'y', 'z'])
dict_items([(1, 'x'), (2, 'y'), (3, 'z')])

In [ ]:
#four ways to create dictionary
d1= {"a":"apple","b":"orange","c":"mango"}
d2=dict(a="apple",b="orange",c="mango")
d3=dict([("a","apple"),("b","orange"),("c","mango")])
d4=dict({"a":"apple","b":"orange","c":"mango"})
print(d1==d2==d3==d4)

In [ ]:
#check equality
d1={1:99,2:67,3:55}
d2={1:99,2:67,3:55}
print(d1==d2)

d={1:"xx",2:"yy",3:"uu"}
print(d[1])#1 indicate key

True
xx

In [ ]:
#create empty dictionary and add item
d1=dict()
d1[1]="one"
d1[2]="two"
d1[3]="three"
d1[4]="four"
print(d1)